*.DS_Store
*.bbl
*.blg
*.idx
*.aux
*.log
*.swp
*.swo
*.out
*.toc
*.o
*~
*.d
*.a
*.y
*.pyc
*.js.html
*.html.html
src/main/java/kr/ac/kaist/safe/parser/
tests/detail
tests/analysis-detail
project/project/
project/target/
target/
lib/xtc.jar
lib/debugger/webix.js
lib/debugger/css/webix.css
doc/safe.pdf
.idea
