*.DS_Store
*.bbl
*.blg
*.idx
*.aux
*.log
*.swp
*.swo
*.out
*.toc
*.o
*~
*.d
*.a
*.y
*.pyc
*.js.html
*.html.html
src/main/java/kr/ac/kaist/safe/parser/
tests/detail
tests/analysis-detail
project/project/
project/target/
target/
lib/xtc.jar
lib_managed/
doc/safe.pdf
doc/icse-demo/main.pdf
.idea/
safe.iml
debugger/
.bsp
