## basic ignore
*.DS_Store
*.bbl
*.blg
*.idx
*.aux
*.log
*.swp
*.swo
*.out
*.toc
*.o
*~
*.d
*.a
*.y
*.pyc
*.js.html
*.html.html
src/main/java/kr/ac/kaist/safe/parser/
tests/detail
tests/analysis-detail
project/project/
project/target/
target/
lib/xtc.jar
lib_managed/
doc/safe.pdf
doc/icse-demo/main.pdf
.idea/
safe.iml
debugger/

## Core latex/pdflatex auxiliary files:
*.aux
*.bak
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.gz
__latexindent_temp.tex

## Generated pdf file
paper/*/main.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Visual Studio workspace
*.code-workspace
