.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
}
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
}
.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
}
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
.marker-cluster {
	border-radius: 20px; background-clip: padding-box;
}
.marker-cluster div {
	font: 12px/normal "Helvetica Neue", Arial, Helvetica, sans-serif; border-radius: 15px; width: 30px; height: 30px; text-align: center; margin-top: 5px; margin-left: 5px; font-size-adjust: none; font-stretch: normal;
}
.marker-cluster span {
	line-height: 30px;
}
