<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SAFE 2.0</title>
  <script src="/assets/js/jquery-2.0.3.min.js"></script>
  <script src="/assets/js/cytoscape.min.js"></script>
  <script src="/assets/js/dagre.min.js"></script>
  <script src="/assets/js/cytoscape-dagre.js"></script>
  <script src="/assets/js/webix.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/assets/css/webix.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/core.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/console.css" type="text/css">
  <script type="text/javascript">
      let safe_DB = {
          nodes: [],
          edges: [],
          insts: {},
          state: {},
      }
  </script>
  <script src="/assets/js/core.js" type="text/javascript"></script>
  <script src="/assets/js/ws.js" type="text/javascript"></script>
</head>
<body>
  <div id="cy">
    <h2 class="no-file-placeholder">
      Welcome to SAFE 2.0<br/><a href="#" onclick="$('#file-upload').click()">Open File</a> to start analysis
    </h2>
  </div>
  <div class="console" id="console">
    <div class="console-status status-connecting">
      <i class="fa fa-circle"></i>
      <span class="console-status-text">Initializing</span>
    </div>
    <div class="console-output"></div>
    <div class="console-input-group">
      <div class="console-prompt"></div>
      <div class="console-input-line">
        <span class="console-iter">&gt;</span>
        <input class="console-input" type="text"/>
      </div>
    </div>
  </div>
  <input type="file" id="file-upload" name="file" style="visibility: hidden"/>
</body>
</html>