<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="/assets/js/jquery-2.0.3.min.js"></script>
  <script src="/assets/js/cytoscape.min.js"></script>
  <script src="/assets/js/dagre.min.js"></script>
  <script src="/assets/js/cytoscape-dagre.js"></script>
  <script src="/assets/js/webix.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/assets/css/webix.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/core.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/console.css" type="text/css">
  <script type="text/javascript">
      let safe_DB = {
          nodes: [],
          edges: [],
          insts: {},
          state: {},
      }
  </script>
  <script src="/assets/js/core.js" type="text/javascript"></script>
  <script src="/assets/js/ws.js" type="text/javascript"></script>
</head>
<body>
  <div id="cy"></div>
  <div class="console" id="console">
    <div class="console-status status-connecting">
      <i class="fa fa-circle"></i>
      <span class="console-status-text">Initializing</span>
    </div>
    <div class="console-output"></div>
    <div class="console-input-wrapper">
      <span class="console-input-marker">&gt;</span>
      <input class="console-input" type="text"/>
    </div>
  </div>
</body>
</html>