body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
abbr {
	border: 0px currentColor;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
h1 {
	font-style: normal; font-weight: normal;
}
h2 {
	font-style: normal; font-weight: normal;
}
h3 {
	font-style: normal; font-weight: normal;
}
h4 {
	font-style: normal; font-weight: normal;
}
h5 {
	font-style: normal; font-weight: normal;
}
h6 {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
a {
	text-decoration: none;
}
body {
	background: rgb(255, 255, 255); color: rgb(68, 68, 68); line-height: 22px; font-family: sans-serif; font-size: 62.5%;
}
code {
	color: rgb(0, 0, 0); font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}
pre {
	color: rgb(0, 0, 0); font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}
pre {
	background: rgb(243, 243, 247); padding: 11px; border: 1px solid rgb(222, 222, 227); line-height: 1.3em; overflow: auto; font-size: 12px; margin-bottom: 22px;
}
pre a {
	font-weight: normal;
}
a {
	color: rgb(33, 117, 155); font-weight: normal; text-decoration: none;
}
#wporg-footer ul li a {
	color: rgb(33, 117, 155); font-weight: normal; text-decoration: none;
}
a:visited {
	color: rgb(76, 166, 207);
}
#wporg-footer ul li a:visited {
	color: rgb(76, 166, 207);
}
p a {
	border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid;
}
h3 a {
	font-weight: bold;
}
.button a {
	border: currentColor !important;
}
.button a:hover {
	border: currentColor !important;
}
#headline a:not(.button) {
	border: currentColor !important;
}
#headline a:not(.button):hover {
	border: currentColor !important;
}
#sidebar a {
	border: currentColor !important;
}
#sidebar a:hover {
	border: currentColor !important;
}
.frontpageheatmap a {
	border: currentColor !important;
}
.frontpageheatmap a:hover {
	border: currentColor !important;
}
.col-3 a {
	border: currentColor !important;
}
.col-3 a:hover {
	border: currentColor !important;
}
#headline a.button {
	display: inline-block;
}
p a:hover {
	border-bottom-color: rgb(213, 78, 33); border-bottom-width: 1px; border-bottom-style: solid;
}
a:hover {
	color: rgb(213, 78, 33);
}
h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif; font-size: 22px; font-weight: 300;
}
h2 a {
	font-weight: 300;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
cite {
	font-style: italic;
}
sup {
	line-height: 1em; font-size: 80%;
}
.alignnone {
	margin: 5px 20px 20px 0px;
}
.aligncenter {
	margin: 5px auto; display: block;
}
div.aligncenter {
	margin: 5px auto; display: block;
}
.alignright {
	margin: 5px 0px 20px 20px; float: right;
}
.alignleft {
	margin: 5px 20px 20px 0px; float: left;
}
.aligncenter {
	margin: 5px auto; display: block;
}
a img.alignright {
	margin: 5px 0px 20px 20px; float: right;
}
a img.alignnone {
	margin: 5px 20px 20px 0px;
}
a img.alignleft {
	margin: 5px 20px 20px 0px; float: left;
}
a img.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
.wp-caption {
	background: rgb(255, 255, 255); padding: 5px 3px 10px; border: 1px solid rgb(240, 240, 240); text-align: center; max-width: 96%;
}
.alignnone.wp-caption {
	margin: 5px 20px 20px 0px;
}
.alignleft.wp-caption {
	margin: 5px 20px 20px 0px;
}
.alignright.wp-caption {
	margin: 5px 0px 20px 20px;
}
.wp-caption img {
	margin: 0px; padding: 0px; border: 0px currentColor; width: auto; height: auto; max-width: 98.5%;
}
.wp-caption p.wp-caption-text {
	margin: 0px; padding: 0px 4px 5px; line-height: 17px; font-size: 11px;
}
.wrapper {
	margin: 0px auto; clear: both; max-width: 960px;
}
#wporg-header {
	background: rgb(34, 34, 34); width: 100%; height: 140px; text-align: center; position: relative;
}
#wporg-header h1 {
	width: 303px; display: inline-block;
}
#wporg-header h1 a {
	background: url("//s.w.org/style/images/wp-header-logo.png?1") no-repeat left / 303px 53px; width: 303px; height: 88px; text-indent: -9999px; display: block;
}
@media not all
{
#wporg-header h1 a {
	background-image: url("//s.w.org/style/images/wp-header-logo-2x.png?1");
}
}
#wporg-header h2.rosetta {
	color: rgb(223, 223, 223); font-family: Georgia, "Times New Roman", serif; font-size: 30px;
}
#wporg-header h2.rosetta a {
	padding: 36px 27px 0px; height: 52px; color: rgb(223, 223, 223); float: left; display: block;
}
#head-search {
	height: 48px;
}
#head-search form {
	width: 288px; margin-left: 60px; border-bottom-color: rgb(63, 63, 63); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
#head-search input.text {
	background: rgb(19, 19, 19); border-radius: 0px; border: 0px currentColor; width: 256px; height: 24px; color: rgb(153, 153, 153); font-family: "Open Sans", sans-serif; font-size: 12px; margin-right: 0px; margin-bottom: 0px; float: left;
}
#head-search .button {
	background: url("//s.w.org/wp-includes/images/admin-bar-sprite.png?d=20120831") no-repeat 100% 2px rgb(19, 19, 19); padding: 0px; border-radius: 0px; border: currentColor; width: 26px; height: 30px; float: left; text-shadow: none !important;
}
#wporg-header ul#wporg-header-menu {
	background: rgb(34, 34, 34); list-style: none; margin: 0px; padding: 20px 0px 0px; transition:left 0.3s; left: -75%; text-align: left; position: absolute; z-index: 1; min-width: 200px; max-width: 75%; -moz-transition: left 0.3s; -webkit-transition: left 0.3s; -o-transition: left 0.3s;
}
#wporg-header ul.active#wporg-header-menu {
	left: 0px;
}
#wporg-header ul li {
	list-style-type: none; position: relative;
}
#wporg-header ul li a {
	margin: 0px 4px; padding: 10px 30px; height: 34px; color: rgb(221, 221, 221); line-height: 34px; font-family: "Open Sans", Helvetica, Arial, "Liberation Sans", sans-serif; font-size: 13px; font-weight: 600; display: block;
}
#wporg-header ul li#download a.current {
	color: rgb(238, 238, 238);
}
#wporg-header ul li a:active {
	color: rgb(0, 0, 0);
}
#wporg-header ul li a:hover {
	color: rgb(47, 170, 221);
}
#wporg-header ul li a.current {
	color: rgb(47, 170, 221);
}
#wporg-header ul li a.subcurrent {
	font-weight: bold;
}
#wporg-header .nav-submenu {
	padding: 0px; margin-top: -15px; margin-bottom: 10px; display: none; position: static;
}
#wporg-header ul.nav-submenu li a {
	height: 24px; line-height: 24px; margin-left: 20px;
}
#wporg-header ul li#download {
	padding: 0px 0px 34px; height: 34px; overflow: hidden; margin-right: 14px; float: right; display: none;
}
#wporg-header ul li#download a {
	margin: 0px; padding: 0px 16px;
}
#wporg-header ul li#download a:hover {
	color: rgb(238, 238, 238);
}
#mobile-menu-button {
	left: 10px; top: 75px; width: 39px; height: 32px; text-align: center; line-height: 1; font-family: "dashicons"; font-size: 16px; font-style: normal; font-weight: normal; text-decoration: inherit; vertical-align: top; float: left; display: block; position: absolute; -webkit-font-smoothing: antialiased; -moz-transition: color .1s ease-in 0; -webkit-transition: color .1s ease-in 0;
}
#mobile-menu-button::before {
	font: 50px "Dashicons"; margin: 0px; padding: 3px; border: currentColor; width: 39px; height: 32px; color: rgb(136, 136, 136); text-decoration: none; vertical-align: middle; float: left; display: inline-block; content: "\f228"; box-sizing: border-box; font-size-adjust: none; font-stretch: normal; -webkit-font-smoothing: antialiased; -moz-box-sizing: border-box;
}
#mobile-menu-button:hover {
	
}
#download-mobile {
	background: rgb(247, 247, 247); border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#download-mobile .wrapper {
	padding: 20px 0px; text-align: center;
}
#download-mobile span.download-ready {
	font-size: 1.6em; margin-right: 20px;
}
#download-mobile a.download-button {
	padding: 10px 15px; height: inherit; font-size: 1.6em;
}
@media screen and (min-width:480px)
{
#head-search form {
	margin-left: 0px;
}
}
@media screen and (min-width:768px)
{
#wporg-header {
	height: 120px; text-align: inherit;
}
#wporg-header h1 {
	padding-left: 10px; float: left;
}
#head-search {
	height: 48px; padding-top: 30px; margin-right: 14px; float: right;
}
#head-search form {
	margin-left: 0px;
}
#wporg-header ul#wporg-header-menu {
	list-style: none; margin: -15px 0px 0px; padding: 0px; width: 100%; float: left; position: static; min-width: 0px; max-width: inherit;
}
#wporg-header ul li {
	float: left; position: relative;
}
#wporg-header ul li a {
	margin: 0px 4px; padding: 0px 6px; height: 46px; color: rgb(221, 221, 221); line-height: 34px; font-family: "Open Sans", Helvetica, Arial, "Liberation Sans", sans-serif; font-size: 13px; font-weight: 600; display: block;
}
#wporg-header ul li#download .uparrow {
	display: none;
}
#wporg-header ul li a.current ~ .uparrow {
	margin: -8px auto 0px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(247, 247, 247); border-left-color: transparent; border-right-width: 9px; border-bottom-width: 9px; border-left-width: 9px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
#wporg-header ul li:hover .nav-submenu ~ .uparrow {
	margin: -10px auto 0px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(68, 68, 68); border-left-color: transparent; border-right-width: 9px; border-bottom-width: 9px; border-left-width: 9px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
#wporg-header ul li .nav-submenu:hover ~ .uparrow {
	margin: -10px auto 0px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(68, 68, 68); border-left-color: transparent; border-right-width: 9px; border-bottom-width: 9px; border-left-width: 9px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
#wporg-header .nav-submenu {
	background: rgb(68, 68, 68); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(68, 68, 68) rgb(68, 68, 68); margin-top: -1px; display: none !important; min-width: 0px;
}
#wporg-header ul li:hover .nav-submenu {
	left: 0px; top: 46px; width: auto; display: block !important; position: absolute; z-index: 11;
}
#wporg-header ul li .nav-submenu:hover {
	left: 0px; top: 46px; width: auto; display: block !important; position: absolute; z-index: 11;
}
#wporg-header ul li .nav-submenu li {
	float: none;
}
#wporg-header ul.nav-submenu li a {
	height: 34px; line-height: 34px; margin-left: 6px;
}
#headline h2 {
	text-rendering: optimizeLegibility;
}
#mobile-menu-button {
	display: none;
}
}
@media screen and (min-width:800px)
{
#wporg-header ul li#download {
	display: list-item;
}
#download-mobile {
	display: none;
}
}
#home-welcome {
	background: rgb(247, 247, 247); border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid; min-height: 340px; min-width: 960px;
}
#home-welcome img.screenshot {
	margin-top: 22px; margin-right: 28px; float: left;
}
#home-welcome p {
	padding: 11px 0px; font-size: 13px; margin-right: 14px;
}
#home-welcome p.intro {
	line-height: 1.5em; padding-top: 34px; font-family: Georgia, Times, "Times New Roman", serif; font-size: 17px;
}
#home-welcome p.intro strong {
	font-weight: normal;
}
p.intro a {
	font-weight: normal;
}
.submit input {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
input[type=button] {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
input[type=submit] {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
.button {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
.button-primary {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
.download-button {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
.button-secondary {
	border-width: 1px; border-style: solid; margin: 0px; padding: 0px 10px 1px; border-radius: 3px; height: 24px; line-height: 23px; font-size: 12px; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 3px; -webkit-appearance: none; -webkit-box-sizing: border-box;
}
.button-large.button {
	padding: 0px 12px 2px; height: 30px; line-height: 28px;
}
.button-large.button-group .button {
	padding: 0px 12px 2px; height: 30px; line-height: 28px;
}
.col-2 p.button {
	padding: 0px 12px 2px; height: 30px; line-height: 28px;
}
.col-13 p.button {
	padding: 0px 12px 2px; height: 30px; line-height: 28px;
}
.button-small.button {
	padding: 0px 8px 1px; height: 21px; line-height: 20px;
}
.block-content span.button {
	padding: 0px 8px 1px; height: 21px; line-height: 20px;
}
.button-small.button-group .button {
	padding: 0px 8px 1px; height: 21px; line-height: 20px;
}
.button-hero.button {
	padding: 0px 36px; height: 46px; line-height: 44px; font-size: 14px;
}
.button-hero.button-group .button {
	padding: 0px 36px; height: 46px; line-height: 44px; font-size: 14px;
}
#plugin-description p.button {
	padding: 0px 36px; height: 46px; line-height: 44px; font-size: 14px;
}
.col-3 p.button {
	padding: 0px 36px; height: 46px; line-height: 44px; font-size: 14px;
}
.button:active {
	
}
.hidden.button {
	display: none;
}
.submit input {
	background: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)) rgb(243, 243, 243); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: 0px 1px 0px #fff;
}
input[type=button] {
	background: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)) rgb(243, 243, 243); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: 0px 1px 0px #fff;
}
input[type=submit] {
	background: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)) rgb(243, 243, 243); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: 0px 1px 0px #fff;
}
.button {
	background: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)) rgb(243, 243, 243); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: 0px 1px 0px #fff;
}
.button-secondary {
	background: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)) rgb(243, 243, 243); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: 0px 1px 0px #fff;
}
.submit input:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
input[type=button]:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
input[type=submit]:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.submit input:focus {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
input[type=button]:focus {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
input[type=submit]:focus {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.hover.button {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.button:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.button-secondary:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.focus.button {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.button:focus {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.button-secondary:focus {
	background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) rgb(243, 243, 243); border-color: rgb(153, 153, 153); color: rgb(34, 34, 34);
}
.submit input:focus {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
input[type=button]:focus {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
input[type=submit]:focus {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.focus.button {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.button:focus {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.button-secondary:focus {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.submit input:active {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
input[type=button]:active {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
input[type=submit]:active {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.active.button {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.active.button:hover {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.active.button:focus {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.button:active {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.button-secondary:active {
	background: linear-gradient(rgb(244, 244, 244), rgb(254, 254, 254)) rgb(238, 238, 238); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); box-shadow: inset 0px 2px 5px -3px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #fff; -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}
.submit input:disabled {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
input[type=button]:disabled {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
input[type=submit]:disabled {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
[disabled].button {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
:disabled.button {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
[disabled].button-secondary {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
:disabled.button-secondary {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
.button-disabled {
	border-color: rgb(221, 221, 221) !important; color: rgb(170, 170, 170) !important; cursor: default; box-shadow: none !important; text-shadow: 0px 1px 0px #fff !important; background-image: linear-gradient(rgb(249, 249, 249), rgb(244, 244, 244)) !important; -webkit-box-shadow: none;
}
.button-primary {
	border-color: rgb(33, 117, 155) rgb(33, 117, 155) rgb(30, 106, 141); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155)); background-color: rgb(33, 117, 155); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}
.download-button {
	border-color: rgb(33, 117, 155) rgb(33, 117, 155) rgb(30, 106, 141); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155)); background-color: rgb(33, 117, 155); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}
.button-primary:visited {
	border-color: rgb(33, 117, 155) rgb(33, 117, 155) rgb(30, 106, 141); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155)); background-color: rgb(33, 117, 155); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}
.download-button:visited {
	border-color: rgb(33, 117, 155) rgb(33, 117, 155) rgb(30, 106, 141); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155)); background-color: rgb(33, 117, 155); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}
.hover.button-primary {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.button-primary:hover {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.focus.button-primary {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.button-primary:focus {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.hover.download-button {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.download-button:hover {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.focus.download-button {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.download-button:focus {
	border-color: rgb(27, 96, 127); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6); text-shadow: 0px -1px 0px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(46, 159, 210), rgb(33, 117, 155)); background-color: rgb(39, 138, 183); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
.focus.button-primary {
	border-color: rgb(14, 57, 80); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.button-primary:focus {
	border-color: rgb(14, 57, 80); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.focus.download-button {
	border-color: rgb(14, 57, 80); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.download-button:focus {
	border-color: rgb(14, 57, 80); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.active.button-primary {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.active.button-primary:hover {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.active.button-primary:focus {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.button-primary:active {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.active.download-button {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.active.download-button:hover {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.active.download-button:focus {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.download-button:active {
	background: linear-gradient(rgb(33, 117, 155), rgb(39, 138, 183)) rgb(27, 96, 127); border-color: rgb(18, 69, 96) rgb(35, 130, 174) rgb(35, 130, 174); color: rgba(255, 255, 255, 0.95); box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
[disabled].button-primary {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
:disabled.button-primary {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
.button-primary-disabled {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
[disabled].download-button {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
:disabled.download-button {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
.download-button-disabled {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
body #ed_toolbar input {
	padding: 0px 10px 1px;
}
body #ed_toolbar #ed_pre {
	font-family: sans-serif;
}
.col-3 a.download-button {
	text-align: center; display: block;
}
.download-meta {
	text-align: center !important; font-size: 12px; margin-bottom: 0px !important;
}
#home-welcome .download-button {
	margin-left: 6px;
}
.col-3 ul {
	list-style: square; margin-bottom: 22px; margin-left: 16px;
}
.col-3 p {
	margin-bottom: 22px;
}
.download-tar {
	text-align: center; font-size: 12px; margin-bottom: 14px !important;
}
#home-below {
	margin: 0px auto; width: 960px; font-size: 13px;
}
#home-below .image img {
	border: 1px solid rgb(218, 218, 218);
}
#home-below .wrapper {
	margin-bottom: 14px; float: left;
}
.col-1 {
	margin: 0px 14px; float: left;
}
.col-2 {
	margin: 0px 14px; float: left;
}
.col-3 {
	margin: 0px 14px; float: left;
}
.col-4 {
	margin: 0px 14px; float: left;
}
.col-5 {
	margin: 0px 14px; float: left;
}
.col-6 {
	margin: 0px 14px; float: left;
}
.col-7 {
	margin: 0px 14px; float: left;
}
.col-8 {
	margin: 0px 14px; float: left;
}
.col-9 {
	margin: 0px 14px; float: left;
}
.col-10 {
	margin: 0px 14px; float: left;
}
.col-11 {
	margin: 0px 14px; float: left;
}
.col-12 {
	margin: 0px 14px; float: left;
}
.col-1 {
	width: 52px;
}
.col-2 {
	width: 132px;
}
.col-3 {
	width: 212px;
}
.col-4 {
	width: 292px;
}
.col-5 {
	width: 372px;
}
.col-6 {
	width: 452px;
}
.col-7 {
	width: 532px;
}
.col-8 {
	width: 612px;
}
.col-9 {
	width: 692px;
}
.col-10 {
	width: 772px;
}
.col-11 {
	width: 852px;
}
.col-12 {
	width: 932px;
}
.col-9 h2 {
	margin: 6px 0px; font-family: Georgia, Times, "Times New Roman", serif;
}
.col-9 .entry {
	margin-bottom: 30px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid;
}
h3 {
	margin: -1px 0px 1px; color: rgb(51, 51, 51); font-size: 14px; font-weight: bold;
}
h4 {
	color: rgb(51, 51, 51); padding-bottom: 4px; font-size: 14px; font-weight: bold; margin-bottom: 18px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid;
}
h3.head {
	color: rgb(51, 51, 51); padding-bottom: 4px; font-size: 14px; font-weight: bold; margin-bottom: 18px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid;
}
h5 {
	font-size: 1em; font-weight: bold; margin-bottom: 12px;
}
#home-below h4 {
	margin-top: 28px; margin-bottom: 16px;
}
#home-below h4 a {
	font-weight: bold;
}
#home-below h5 {
	margin-bottom: 0px;
}
#home-below img.book {
	margin-top: -17px; margin-bottom: 6px;
}
#home-below a {
	font-size: 14px;
}
#home-below ol.steps {
	margin-top: -4px;
}
#home-below ol.steps li {
	padding-top: 4px; padding-left: 44px; margin-bottom: 17px; position: relative;
}
#home-below ol.steps li span {
	left: 0px; top: 0px; width: 31px; height: 31px; position: absolute; content: ""; background-image: url("//s.w.org/style/images/steps.png"); background-repeat: no-repeat; background-size: 93px 31px;
}
@media not all
{
#home-below ol.steps li span {
	background-image: url("//s.w.org/style/images/steps-2x.png");
}
}
#home-below ol.steps li.one span {
	
}
#home-below ol.steps li.two span {
	background-position: -31px 0px;
}
#home-below ol.steps li.three span {
	background-position: -62px 0px;
}
ul#notable-users {
	list-style: none;
}
p#showcase-link a {
	border: currentColor; font-size: 0.9em;
}
ol.steps {
	list-style: none;
}
ul#notable-users li a {
	border-width: 1px; border-style: solid; border-color: rgb(245, 245, 245) rgb(222, 222, 222) rgb(222, 222, 222) rgb(245, 245, 245); width: 130px; height: 59px; margin-bottom: 8px; display: block;
}
ul#notable-users li a:active {
	border-width: 1px; border-style: solid; border-color: rgb(222, 222, 222) rgb(245, 245, 245) rgb(245, 245, 245) rgb(222, 222, 222);
}
input.text {
	background: rgb(245, 245, 245); padding: 3px; border: 1px solid rgb(204, 204, 204); height: 16px; color: rgb(102, 102, 102); font-family: sans-serif; font-size: 12px; margin-right: 2px; vertical-align: top;
}
#headline {
	background: rgb(247, 247, 247); height: 62px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid;
}
#headline h2 {
	color: rgb(85, 85, 85); line-height: 1em; padding-top: 18px; padding-left: 9px; font-size: 28px; float: left; text-shadow: 0px 1px 0px #fff;
}
#headline .login {
	padding-top: 22px; font-size: 12px; margin-right: 15px; float: right; position: relative;
}
#headline .login a {
	color: rgb(33, 117, 155);
}
#headline .login a:visited {
	color: rgb(76, 166, 207);
}
#headline input.text {
	background: rgb(255, 255, 255); border: 1px solid rgb(198, 217, 233);
}
#pages {
	float: right;
}
#pagebody .submenu {
	list-style: none; font-size: 10px; margin-top: -2px; margin-left: 0px;
}
#pagebody #submenu {
	list-style: none; font-size: 10px; margin-top: -2px; margin-left: 0px;
}
#pagebody .submenu a#subcurrent {
	color: rgb(51, 51, 51); cursor: default;
}
#pagebody #submenu a#subcurrent {
	color: rgb(51, 51, 51); cursor: default;
}
p.person {
	padding-bottom: 10px; margin-bottom: 11px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
#pagebody .submenu li {
	padding: 5px 0px; line-height: 18px; font-size: 12px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid;
}
#pagebody .submenu li a {
	width: 100%; display: block;
}
#pagebody .submenu li.current {
	background: url("//s.w.org/style/images/arrow.png") no-repeat left; font-weight: bold;
}
#pagebody .submenu li ul {
	margin-top: 0px !important; margin-left: 16px !important;
}
#pagebody .submenu li ul li {
	border: currentColor; line-height: 1.4em; padding-bottom: 2px;
}
#pagebody {
	font-size: 13px; margin-top: 29px; margin-bottom: 22px;
}
#pagebody p {
	margin: 0px 0px 22px;
}
#pagebody ol {
	margin: 0px 0px 22px;
}
#pagebody ul {
	margin: 0px 0px 22px;
}
#pagebody ul {
	list-style: square; margin-left: 16px;
}
a.rsslink {
	background: url("//s.w.org/style/images/feedicon10.png") no-repeat left top; padding-left: 14px;
}
#pagebody ol {
	margin-left: 22px;
}
#pagebody p.intro {
	color: rgb(85, 85, 85); line-height: 1.6em; font-family: Georgia, Times, "Times New Roman", serif; font-size: 15px; margin-top: -1px; margin-bottom: 23px;
}
#pagebody p.intro a {
	font-weight: normal;
}
.feed {
	background: url("//s.w.org/style/images/feedicon.png") no-repeat left; padding-left: 19px;
}
#wporg-footer {
	margin: 0px auto; padding: 22px 14px 65px; overflow: auto; clear: both; border-top-color: rgb(223, 223, 223); border-top-width: 1px; border-top-style: solid; background-color: rgb(247, 247, 247);
}
#wporg-footer .wrapper {
	overflow: auto; max-width: 932px;
}
#wporg-footer ul {
	width: 135px; overflow: auto; padding-left: 0px; margin-bottom: 15px; margin-left: 24px; float: left;
}
@media screen and (min-width:960px)
{
#wporg-footer ul:first-child {
	margin-left: 0px;
}
}
#wporg-footer ul li {
	color: rgb(187, 187, 187); font-size: 14px; margin-bottom: 1px; list-style-type: none;
}
#wporg-footer ul li a {
	border: currentColor;
}
#wporg-footer h6 {
	background: url("//s.w.org/style/images/codeispoetry.png?1") no-repeat center / 190px 15px; width: 190px; height: 15px; text-indent: -9999px; clear: both; margin-top: 35px;
}
@media not all
{
#wporg-footer h6 {
	background-image: url("//s.w.org/style/images/codeispoetry-2x.png?1");
}
}
blockquote {
	background: rgb(245, 245, 245); padding: 22px 22px 0px; border: 1px solid rgb(218, 218, 218); margin-bottom: 22px;
}
ul#books {
	list-style: none; margin: 0px;
}
ul#otherbooks {
	list-style: none; margin: 0px;
}
#books .image {
	margin: 18px; width: 200px; text-align: center; border-right-color: rgb(218, 218, 218); border-right-width: 1px; border-right-style: solid; float: left; display: block;
}
#otherbooks .image {
	margin: 18px; width: 200px; text-align: center; border-right-color: rgb(218, 218, 218); border-right-width: 1px; border-right-style: solid; float: left; display: block;
}
#books img {
	border: 1px solid rgb(218, 218, 218);
}
#otherbooks img {
	border: 1px solid rgb(218, 218, 218);
}
#books li {
	background: rgb(245, 245, 245); border-width: 1px; border-style: solid; border-color: rgb(218, 218, 218) rgb(238, 238, 238) rgb(224, 224, 224) rgb(218, 218, 218); width: 100%; clear: both; margin-bottom: 22px; float: left;
}
#otherbooks li {
	background: rgb(245, 245, 245); border-width: 1px; border-style: solid; border-color: rgb(218, 218, 218) rgb(238, 238, 238) rgb(224, 224, 224) rgb(218, 218, 218); width: 100%; clear: both; margin-bottom: 22px; float: left;
}
#books h3 {
	font: 21px/normal Georgia, Times, "Times New Roman", serif; margin: 18px 0px 5px; font-size-adjust: none; font-stretch: normal;
}
#otherbooks h3 {
	font: 21px/normal Georgia, Times, "Times New Roman", serif; margin: 18px 0px 5px; font-size-adjust: none; font-stretch: normal;
}
#otherbooks h3 {
	margin-left: 20px;
}
#otherbooks p {
	margin-left: 20px;
}
#otherbooks h3 {
	font-size: 18px;
}
#books p {
	line-height: 1.4em; padding-right: 22px; margin-bottom: 7px;
}
#otherbooks p {
	line-height: 1.4em; padding-right: 22px; margin-bottom: 7px;
}
#books .author {
	font: italic 15px/normal Georgia, Times, "Times New Roman", serif; color: rgb(136, 136, 136); margin-bottom: 11px; font-size-adjust: none; font-stretch: normal;
}
#otherbooks .author {
	font: italic 15px/normal Georgia, Times, "Times New Roman", serif; color: rgb(136, 136, 136); margin-bottom: 11px; font-size-adjust: none; font-stretch: normal;
}
#books .published {
	color: rgb(136, 136, 136); text-transform: uppercase; letter-spacing: 0.2em; font-size: 11px;
}
#otherbooks .published {
	color: rgb(136, 136, 136); text-transform: uppercase; letter-spacing: 0.2em; font-size: 11px;
}
#books h3 a {
	font-weight: normal;
}
#otherbooks h3 a {
	font-weight: normal;
}
.features .col-5 li {
	margin-bottom: 15px;
}
.alt {
	background: rgb(242, 242, 242);
}
.featured {
	background: rgb(255, 251, 204); margin: 32px 0px; padding: 11px 11px 16px; border: 1px solid rgb(230, 219, 85); width: 670px; overflow: auto;
}
.partner {
	clear: both; margin-bottom: 20px; min-height: 100px;
}
.partner img {
	margin-top: 4px; margin-right: 4px; margin-left: 12px; float: right;
}
.submit {
	margin: 10px 0px 0px; padding: 1.5em 0px 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -khtml-border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -khtml-border-bottom-right-radius: 3px; -webkit-border-bottom-right-radius: 3px;
}
#pagebody table.widefat {
	width: 100%; clear: both; margin-bottom: 11px; border-collapse: collapse;
}
#pagebody table.widefat a {
	text-decoration: none;
}
#pagebody table.widefat tr.alt {
	background-color: rgb(242, 242, 242);
}
#pagebody table.widefat tbody.hover {
	cursor: pointer;
}
#pagebody table.widefat tbody tr.hover {
	background-color: rgb(221, 221, 221);
}
#pagebody table.widefat tbody tr:hover {
	background-color: rgb(221, 221, 221);
}
#pagebody table.widefat tbody tr.hover a {
	color: rgb(213, 78, 33);
}
#pagebody table.widefat tbody a:hover {
	color: rgb(213, 78, 33);
}
#pagebody table.widefat td {
	padding: 6px; font-size: 13px; vertical-align: text-top;
}
#pagebody table.widefat th {
	padding: 6px; font-size: 13px; vertical-align: text-top;
}
#pagebody table.widefat thead {
	color: rgb(0, 0, 0); font-weight: bold; background-color: rgb(207, 207, 207);
}
#pagebody table.widefat th {
	text-align: left; padding-top: 8px; padding-bottom: 4px;
}
#pagebody table.widefat .check-column {
	width: 3%; text-align: center; vertical-align: text-top;
}
.wrap {
	margin: 0px 15px; padding: 0px; max-width: 980px;
}
.updated {
	margin: 0px 15px; padding: 0px; max-width: 980px;
}
.error {
	margin: 0px 15px; padding: 0px; max-width: 980px;
}
.form-table {
	width: 100%; color: rgb(51, 51, 51); margin-top: 1em; border-collapse: collapse;
}
form#profile-form table {
	width: 100%; color: rgb(51, 51, 51); margin-top: 1em; border-collapse: collapse;
}
.form-table td {
	padding: 10px; line-height: 20px; margin-bottom: 9px; border-bottom-width: 8px; border-bottom-style: solid;
}
form#profile-form table td {
	padding: 10px; line-height: 20px; margin-bottom: 9px; border-bottom-width: 8px; border-bottom-style: solid;
}
.form-table th {
	padding: 10px; width: 150px; text-align: left; font-weight: bold; border-bottom-width: 8px; border-bottom-style: solid;
}
form#profile-form table th {
	padding: 10px; width: 150px; text-align: left; font-weight: bold; border-bottom-width: 8px; border-bottom-style: solid;
}
.form-table input[type='text'] {
	border-width: 1px; border-style: solid; border-color: rgb(176, 193, 207) rgb(209, 229, 246) rgb(209, 229, 246) rgb(176, 193, 207);
}
.form-table textarea {
	border-width: 1px; border-style: solid; border-color: rgb(176, 193, 207) rgb(209, 229, 246) rgb(209, 229, 246) rgb(176, 193, 207);
}
form#profile-form table input[type='text'] {
	border-width: 1px; border-style: solid; border-color: rgb(176, 193, 207) rgb(209, 229, 246) rgb(209, 229, 246) rgb(176, 193, 207);
}
form#profile-form textarea {
	border-width: 1px; border-style: solid; border-color: rgb(176, 193, 207) rgb(209, 229, 246) rgb(209, 229, 246) rgb(176, 193, 207);
}
.form-table input[type='text'] {
	padding: 3px;
}
.form-table textarea {
	width: 520px !important; line-height: 1.5em; font-size: 13px;
}
form#profile-form table textarea {
	width: 520px !important; line-height: 1.5em; font-size: 13px;
}
.error {
	border-color: rgb(204, 0, 0); background-color: rgb(255, 235, 232);
}
.error a {
	color: rgb(204, 0, 0);
}
.form-invalid {
	background-color: rgb(255, 235, 232) !important;
}
.form-invalid input {
	border-color: rgb(204, 0, 0) !important;
}
.form-table td {
	border-bottom-color: rgb(255, 255, 255);
}
.form-table th {
	border-bottom-color: rgb(255, 255, 255);
}
form#profile-form table td {
	border-bottom-color: rgb(255, 255, 255);
}
form#profile-form table th {
	border-bottom-color: rgb(255, 255, 255);
}
.form-input-tip {
	color: rgb(153, 153, 153);
}
#sitesearch {
	font-size: 10px; margin-top: 10px; margin-bottom: 22px;
}
#sitesearch #sitesearchbox {
	padding: 3px; width: 45%; font-size: 18px;
}
#sitesearch p {
	margin-top: 4px;
}
#sitesearch label {
	margin-right: 6px;
}
#sitesearch .text {
	height: 24px;
}
#sitesearch .button {
	padding: 0px 6px; height: 32px; font-size: 16px; margin-left: 4px;
}
ol.searchresults {
	padding-left: 4px; margin-top: 22px !important;
}
div.special {
	margin-top: 22px;
}
.searchresults h4 {
	margin-bottom: 4px;
}
.special h4 {
	margin-bottom: 4px;
}
.searchresults .source {
	color: rgb(136, 136, 136); font-family: "Lucida Sans"; font-size: 10px; font-style: italic; font-weight: normal; float: right;
}
.special .source {
	color: rgb(136, 136, 136); font-family: "Lucida Sans"; font-size: 10px; font-style: italic; font-weight: normal; float: right;
}
.heatmap {
	line-height: 3em; font-family: Georgia, Times, "Times New Roman", serif;
}
.heatmap a {
	font-weight: normal;
}
.col-10 .col-5 {
	margin: 0px; width: 352px; padding-right: 20px;
}
.col-10 .col-10 {
	margin: 24px 0px 0px; clear: both;
}
.col-10 .col-8 {
	margin: 0px;
}
.col-10 .col-7 {
	margin: 0px;
}
.col-10 .col-5 table td {
	padding: 10px 0px; line-height: 1.5em; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.more {
	font-size: 90%;
}
.column-list {
	line-height: 1.5em; font-size: 12px;
}
.column-list li {
	padding-bottom: 4px;
}
#theuser .block {
	margin: 24px;
}
#theuser #userinfo {
	margin-bottom: 0px; margin-left: 22px;
}
#lang-guess {
	background: rgb(255, 251, 204); font: 1.3em/normal Georgia, Times, "Times New Roman", serif; margin: 22px auto 0px; padding: 10px 0px; border-radius: 3px; border: 1px solid rgb(230, 219, 85); width: 932px; text-align: center; font-size-adjust: none; font-stretch: normal; -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px;
}
h3.graphics {
	color: rgb(153, 153, 153); padding-top: 20px; padding-bottom: 6px; clear: both; font-size: 22px; font-weight: normal;
}
ul.logo {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 223) rgb(223, 223, 223); margin: 0px 14px 14px 0px !important; width: 176px; float: left;
}
ul.logo li {
	background: rgb(245, 245, 245); list-style: none; line-height: 13px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.logo li.img {
	background: rgb(255, 255, 255);
}
ul.logo li a span {
	color: rgb(153, 153, 153); font-weight: normal;
}
ul.logo li a {
	padding: 6px 8px; font-size: 10px; display: block;
}
ul.logo li:first-child {
	border-top-color: rgb(223, 223, 223); border-top-width: 1px; border-top-style: solid;
}
ul.logo li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
p.community {
	padding: 24px 0px; clear: both; font-size: 14px;
}
ul.logo .pnglogo {
	background: rgb(238, 238, 238); text-align: center;
}
ul.logo .pnglogo:hover {
	background: rgb(85, 85, 85);
}
.pnglogo img {
	padding: 62px 0px;
}
#logo-blue img {
	padding: 20px 0px;
}
#logo-grey img {
	padding: 20px 0px;
}
ul.colors {
	margin: 0px !important;
}
ul.colors li {
	list-style: none; color: rgb(102, 102, 102); line-height: 14px; padding-right: 50px; font-size: 10px; margin-right: 50px; margin-bottom: 24px; margin-left: 60px; border-right-color: rgb(223, 223, 223); border-right-width: 1px; border-right-style: solid; float: left;
}
ul.colors li strong {
	color: rgb(51, 51, 51); font-size: 12px;
}
ul.colors li:last-child {
	padding-right: 0px; margin-right: 0px; border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
ul.colors li img {
	margin-left: -60px; float: left;
}
body .meta {
	color: rgb(119, 119, 119); font-size: 12px; margin-bottom: 10px;
}
body .meta a {
	color: rgb(119, 119, 119); border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid;
}
body .meta a:hover {
	color: rgb(213, 78, 33); border-bottom-color: rgb(213, 78, 33);
}
hr {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(223, 223, 223) currentColor currentColor;
}
#headline a {
	color: rgb(85, 85, 85);
}
img#wpstats {
	margin: -10px 10px 0px;
}
